@import "tailwindcss";

@theme {
  --font-inter: "Inter", "sans-serif";
  --font-merriweather: "Merriweather", "serif";

  --color-australian-mint: #f4ffc3;
  --color-live-olive: #a9c46c;
  --color-leaf: #809d3c;
  --color-moss: #5d8736;
  --color-almost-white: #fbfafa;
  --color-golden: #d4af37;
  --color-red: #ff3333;
}
